<%- include('../../partials/head.ejs') %> <%-
include('../../partials/navbar.ejs') %> <%-
include('../../partials/sidebar.ejs') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Transaction</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Beranda</a></li>
            <li class="breadcrumb-item active">Transaction</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <%- include('../../partials/alert.ejs') %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- /.card -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <a href="/transaction/create" class="btn btn-primary">
                  <i class="nav-icon far fa-plus-square mr-1"></i>
                  Tambah
                </a>
              </h3>
            </div>
            <!-- /.card-header -->
           <%- include('./table.ejs') %>
            <!-- /.card-body -->
          </div>

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!--  -->

<%- include('../../partials/footer.ejs') %> <%-
include('../../partials/script.ejs') %>
