<%- include('../../partials/head.ejs') %> <%-
include('../../partials/navbar.ejs') %> <%-
include('../../partials/sidebar.ejs') %>

<!--  -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Payment</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Beranda</a></li>
            <li class="breadcrumb-item"><a href="/category">Payment</a></li>
            <li class="breadcrumb-item active">Tambah</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Form Tambah Payment</h3>
            </div>

            <!-- form -->
            <form action="/payment/create" method="post">
              <div class="card-body">
                <!--  -->
                <div class="form-group">
                  <label for="type">Masukan Tipe Payment</label>
                  <input
                    type="text"
                    class="form-control"
                    id="type"
                    name="type"
                    required
                    placeholder="Masukan Tipe Pembayaran"
                  />
                </div>

                <div class="form-group">
                  <label for="status">Status</label>
                  <select class="select2 form-control" name="status" required>
                    <option value="" selected disabled>Pilih Status</option>
                    <option value="aktif">Aktif</option>
                    <option value="nonaktif">Nonaktif</option>
                  </select>
                </div>

                <div class="form-group select2-blue">
                  <label>Bank</label>
                  <select
                    name="bank"
                    class="form-control select2"
                    style="width: 100%"
                    required
                    multiple
                    data-placeholder="Pilih Bank"
                  >
                    <% data.bank.forEach((bank, index) => { %>
                    <option value="<%= bank._id %>" >
                      <td><%= bank.name %></td>
                      <td><%= bank.nameBank %></td>
                      <td><%= bank.noRekening %></td>
                    </option>
                    <% }) %>
                  </select>
                </div>
                <!--  -->
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </form>
            <!-- /form -->
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!--  -->

<%- include('../../partials/footer.ejs') %> <%-
include('../../partials/script.ejs') %>
